body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}
#titulo {
    color: red;
}
header {
    height: 130px;
    border-bottom: 5px double black;
    display: flex;
    align-items: center;
}
header nav a {
    color: orange;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    display: inline;
}